html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	background-color: whitesmoke;
	color: #1B1212;
	overflow: hidden;
	font-family: 'Lora', serif;
}

input, button {
	font-family: 'Lora', serif;
}

main {
	min-height: fill-available;
	min-height: -moz-available;
	min-height: -webkit-fill-available;
	height: 100%;
	width: 100%;
	display: flex;
	user-select: none;
}