* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	background-color: #212529;
  color: #fff;
	font-family: 'Kongtext', sans-serif;
	cursor: auto;
}

a, button {
	cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}

input, button {
	font-family: 'Kongtext', serif;
}

ul {
	list-style-type: square;
  color: #fff;
}

img {
	image-rendering: pixelated;
}

.nes-btn {
	cursor: pointer;
}

.nes-list.is-disc li::before {
	color: #fff; /* bullet point */
}

.nes-checkbox+span {
	cursor: pointer;
}

@font-face {
	font-family: Kongtext;
	src: url("../kongtext.ttf") format("truetype");
}

@font-face {
	font-family: Computer Modern;
	src: url("../cmu.ttf") format("truetype");
}