html {
	height: 100%;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: whitesmoke;
	color: #1B1212;
	font-family: 'Lora', serif;
}

input, button {
	font-family: 'Lora', serif;
}

.welcome {
	overflow: hidden;
	height: 100vh;
	display: flex;
	user-select: none;
}