form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

label {
  margin-bottom: 0.5rem;
  user-select: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="submit"] {
  margin-top: 1rem;
}

input {
  margin-bottom: 0.5rem;
}

.katex {
  font-family: 'Computer Modern';
  font-size: 20px;
  padding-left: 10px;
}

.me {
  height: 128px;
}

.content {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create {
  width: 8rem;
  margin-bottom: 1rem;
}

.worksheet {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: 'Computer Modern';
  margin: 2.5rem;
  color: black;
  background-color: white;
  padding: 2rem;
  filter: drop-shadow(3px 3px 3px);
}

.worksheet h2 {
  text-align: center;
  margin: 1rem 0 2.5rem;
}

.worksheet ol {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.worksheet li {
  list-style-position: inside;
  flex: 0 0 33.33%;
  margin-bottom: 40px;
  padding-left: 10px;
  font-weight: bold;
  min-width: 300px;
}

.nes-field {
  margin-bottom: 1rem;
}

.no-screen {
  display: none;
}

@media print {
  .katex {
    font-size: 12px;
  }

  .no-print {
    display: none;
  }

  .no-screen {
    display: block;
  }

  .content {
    margin: 0;
    padding: 0;
    display: block;
  }

  .worksheet {
    /* display: inline-block; */
    margin: 0;
    padding: 0;
    filter: none;
  }

  .worksheet h2 {
    position: relative;
    text-align: center;
    margin: -1in 0 .5in;
    height: 0.5in;
  }

  .worksheet ol {
    display: block;
    width: 8.5in;
  }

  .worksheet li {
    float: left;
    font-size: 12px;
    width: 2.833in;
    height: 0.3in;
    min-width: auto;
    padding-left: 0;
  }

  .ws-page {
    padding: 0.5in;
    margin: 0.75in;
    width: 8.5in;
    height: 11in;
    border: solid black 2px;
    break-after: page;
  }
}

@page {
  size: 8.5in 11in;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .content-box {
    padding: 0;
  }

  .worksheet {
    padding: 1rem;
  }
}